
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/


# Ignore all contents within dev/local/
/dev/local/**

# Do not ignore the dev/local/ directory itself
!/dev/local/

# Do not ignore the dev/local/tmp/ directory
!/dev/local/tmp/

# Ignore all contents within dev/local/tmp/
/dev/local/tmp/**

# Do not ignore the specific file dev/local/readme.md
!/dev/local/readme.md

###< symfony/framework-bundle ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
