
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
# Ignore all files and directories within dev/local/
dev/local/*

# Do not ignore the dev/local/tmp/ directory and its contents
!dev/local/tmp/

# Do not ignore the dev/local/readme.md file
!dev/local/readme.md
###< symfony/framework-bundle ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
